<div id="etherpad-lite" class="etherpad-liteRegular">
    <div class="labeFullscreenPad">
        <a id="enterFullscreenPad"><img src="./Customizing/global/plugins/Services/Repository/RepositoryObject/EtherpadLite/templates/images/fullscreen_gr.png" width="16" height="16" alt="{ENTER_FULLSCREEN}" title="{ENTER_FULLSCREEN}" class="etherpad-FullScreen-Enter" /></a>
        <a id="leaveFullscreenPad"><img src="./Customizing/global/plugins/Services/Repository/RepositoryObject/EtherpadLite/templates/images/fullscreen_exit_gr.png" width="16" height="16" alt="{LEAVE_FULLSCREEN}" title="{LEAVE_FULLSCREEN}" class="etherpad-FullScreen-Leave" /></a>
    </div>
    <iframe id = "etherpad-liteFrame" name="etherpad-liteFrame"
        src="{PROTOCOL}://{HOST}:{PORT}{PATH}/p/{ETHERPADLITE_ID}?showControls={SHOW_CONTROLS}&showChat={SHOW_CHAT}&showLineNumbers={SHOW_LINE_NUMBERS}&useMonospaceFont={USE_MONOSPACE_FONT}&userName={USER_NAME}&noColors={NO_COLORS}&showStyleBlock={SHOW_STYLE_BLOCK}&showListBlock={SHOW_LIST_BLOCK}&showRedoBlock={SHOW_REDO_BLOCK}&showColorBlock={SHOW_COLOR_BLOCK}&showHeadingBlock={SHOW_HEADING_BLOCK}&showImportExportBlock={SHOW_IMPORT_EXPORT_BLOCK}&showTimelineBlock={SHOW_TIMELINE_BLOCK}&language={LANGUAGE}&padVersion={EPADL_VERSION}">
    </iframe>
</div>

