#etherpad-liteFrame
{
    width:100%;
    height:95%;
    clear: both;
    border:thin;
    border-style:solid;
    border-color:#a5a5a5;
}
#etherpad-lite
{
    top:0;
    left:0;
    width:100%;
}
.etherpad-liteFullscreen
{
    position:absolute;
    background-color:#f7f7f7;
}
.etherpad-liteRegular
{
    min-height: 300px;
    background-color:transparent;
}

.labeFullscreenPad
{
    float: right;
}

.hiddenOverflow
{
    overflow:hidden;
}
